DISCORD_CLIENT_ID=YOUR_CLIENT_ID
DISCORD_CLIENT_SECRET=YOUR_CLIENT_SECRET
DISCORD_REDIRECT_URI=http://127.0.0.1:8000/auth/callback
SESSION_SECRET=YOUR_RANDOM_SECRET
ADMIN_SETUP_CODE=jassibhaiilassipeetahai2rskifirhagtehai4baar
BOT_API_SECRET=YOUR_BOT_API_SECRET
WEBSITE_BOT_URL=https://your-bot-name.up.railway.app
WEBSITE_TICKET_SECRET=YOUR_WEBSITE_TICKET_SECRET
DISCORD_INVITE_URL=https://discord.gg/8ZucR4fXkk

